<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!----tipografias / link google --->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/panel.css">
    <title>ADMIN</title>
</head>
<body>
    <header>
        <%-include('./homeHeader.ejs')%>
      </header>
    
<div class="container text-center text-md-left mt-5">
     
            <h1>Usuarios vigentes</h1>
            <table>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">e-mail</th>
               
                <th scope="col">direccion</th>
                <th scope="col">Tel.</th>
                <th scope="col">funcion</th>
                <th scope="col">Borrar</th>
                <th scope="col">editar</th>
              </tr>
              
                <% for (let i = 0; i < usuario.length; i ++ ) { %>
                 <tr>
                    
                    <td><%=usuario[i].id %></td>
                    <td> <%=usuario[i].firstname %></a> </td>
                    <td><%=usuario[i].lastname %></td>
                    <td><%=usuario[i].email %></td>   
                    
                    <td><%=usuario[i].address %></td>
                    <td><%=usuario[i].phone %></td>
                    <td><select id="tipo de usuario" name="admin">
                      <% if (usuario[i].admin == "usuario") { %>
                        <option selected><%= usuario[i].admin %> </option>
                        <option value="usuario">usuario</option>
                        <option value="admin">admin</option>
                    <% } %>
                    <% if (usuario[i].admin == "admin") { %>
                        <option selected><%= usuario[i].admin %> </option>
                        <option value="admin">admin</option>
                        <option value="admin">usuario</option>
                        <% } %>
                                                             
                    <form action="/login/panelUserEdit/:<%=usuario[i].id %>" method="POST">
                      <td><input value="Edit" type="submit" ></td>
                    </form>
                    <% } %> 

                </tr>   
            </table>    
            
            


     </div> 
    </div>
             
      

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>
<footer>
    <%-include('./footer.ejs')%>
  </footer>